<div class="instructions">Chapter 5: A Charlie Brown Christmas Run</div>
<div class="win" *ngIf="winMessage">{{winMessage}}</div>
<div class="instructions">
<div class="maze-container" style="align-items: center">
  <div *ngFor="let row of maze; let y = index" class="maze-row">
    <div *ngFor="let cell of row; let x = index"
         class="maze-cell"
         [ngClass]="{
           'wall': cell === '#',
           'goal': cell === 'G',
           'player': player.x === x && player.y === y
         }">
       <img *ngIf="player.x === x && player.y === y"
         src="img/charliebrown.png"
         alt="Space explorer"
         style="width: 100%; height: 100%; object-fit: contain; display: block;">
      <span *ngIf="cell === 'G' && !(player.x === x && player.y === y)">🏁</span>
    </div>
  </div>
</div>
</div>
<div class="instructions" *ngIf="!winMessage">
  Use arrow keys to finish the 5k!
</div>
<div *ngIf="winMessage == 'WIN!!' || winMessage == 'FULL WIN!!'" class="instructions">
  Press enter to continue.
</div>
