<div class="instructions">Chapter 6: James & Jessica's Wedding</div>
<div class="game-container">
    <img class="game-container" *ngIf="winMessage != 'DZO!!'" src="img/weddingcheers.png" />
    <img class="game-container" *ngIf="winMessage == 'DZO!!'" src="img/weddingcheerswin.png" />
</div>


<div class="instructions">
    <div class="win">{{winMessage}}</div>
    <button aria-label="Left" (click)="loading()" *ngIf="winMessage != 'DZO!!'" style="margin-right:8px;">Click to power up!</button>
    <div *ngIf="winMessage == 'DZO!!'" class="instructions">
    Press enter to continue.
    </div>
    <img src="img/plate.png" alt="Plate" class="plate" *ngFor="let dummy of ' '.repeat(plateCount).split(''), let x = index" />
</div>