<div class="instructions">Chapter 11: A Litle Souvenir</div>
<div class="win">{{winMessage}}</div>
<div class="game-container">
    <img class="game-container" *ngIf="winMessage == 'WIN!!'" src="img/cafedumonde.png" />
</div>


<div class="instructions">
    <button aria-label="Left" (click)="loading()" *ngIf="winMessage != 'WIN!!'" style="margin-right:8px;">Click to process the image!</button>
    <div *ngIf="winMessage == 'WIN!!'" class="instructions">
    Press enter to continue.
    </div>
</div>