<div class="instructions">Chapter 12: Happy Birthday, Miso!</div>
<div class="win">{{winMessage}}</div>
<div class="game-container">
    <img class="game-container" src="img/misobday.gif" />
</div>

<div class="instructions">
  Thank you for helping me take care of Miso this past year. <br>
  <br>She is just our little pookie bear! I love you both <3
  <br>
</div>
<div *ngIf="winMessage == 'WIN!!'" class="instructions">
Press enter to continue.
</div>



<!-- <div *ngIf="winMessage == 'WIN!!'" class="instructions"><button (click)="goTo('chaptertwo')">Next Chapter...</button></div> -->
