.canvas {
  border: 2px solid #4caf50;
  background-color: #c8facc;
  display: block;
  margin: 0 auto;
}

.instructions {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.win {
  text-align: center;
  margin-bottom: 8px;
  color: red;
}