
<div class="instructions">Chapter 3: Day 1</div>
<div class="win">{{winMessage}}</div>
<canvas #canvas class="canvas" width="400" height="300"></canvas>

<div *ngIf="winMessage !== 'WIN!!' && winMessage !== 'Oh no! You fell!'" class="instructions">
  <br>Use left or right arrow keys to aim. Use up and down arrow keys to adjust swing power. Press enter to go.
</div>
<div class="instructions">
<div *ngIf="winMessage == 'WIN!!'" class="instructions">
  Press enter to continue.
</div>
<button (click)="resetBall()">Restart</button>

</div>



<!-- <div *ngIf="winMessage == 'WIN!!'" class="instructions"><button (click)="goTo('chaptertwo')">Next Chapter...</button></div> -->
