<div class="instructions">Chapter 14: National Girlfriend Day</div>
<div class="win">{{winMessage}}</div>
<div class="game-container">
    <img class="game-container" src="img/nationalgfday.png" />
</div>

<div class="instructions">
<input type="date"
       [(ngModel)]="answer"
       [disabled]="winMessage === 'WIN!!'"
       (input)="onPlateCountChange($event)"
/><br>
<div *ngIf="winMessage == 'WIN!!'" class="instructions">
  Press enter to continue.
</div>
</div>



<!-- <div *ngIf="winMessage == 'WIN!!'" class="instructions"><button (click)="goTo('chaptertwo')">Next Chapter...</button></div> -->
