<div class="instructions">Final Chapter</div>
<!-- <div class="win">{{winMessage}}</div> -->
<div class="game-container">
    <img class="game-container" src="img/finale2.png" />
</div>

<div *ngIf="winMessage !== 'WIN!!' && winMessage !== 'Oh no! You fell!'" class="instructions">
  Dear Alan,
  <br>
    I'm so grateful a second year with you. I hope that you enjoyed the sequel of our memories of this
    past year! To be honest, it really helped me appreciate all of the memories we made together. It's
    not much but it's honest work, and I hope you can see all the love I put into making this for you.
    I can't wait to make more memories with you and I am excited for forever with you. I love you my
    pookie wookie dookie bear!
     <br>Happy 2nd Anniversary!
     <br>
     <br> Love,
     <br> Emily
</div>
<div class="win">
    And they lived happilly ever after... <br>
    The End.
</div>



<!-- <div *ngIf="winMessage == 'WIN!!'" class="instructions"><button (click)="goTo('chaptertwo')">Next Chapter...</button></div> -->
