<div class="instructions">Chapter 3: Day 1</div>
<div class="win">{{winMessage}}</div>
<div class="pixel-grid">
  <div
    *ngFor="let row of pixelGrid; let y = index"
    class="pixel-row"
  >
    <div
      *ngFor="let pixel of row; let x = index"
      class="pixel"
      [style.backgroundColor]="pixel.isColored ? pixel.color : '#FFE9C8'"
      (click)="colorPixel(x, y)"
    ></div>
  </div>
</div>
<div class="instructions">
  <div class="palette">
    <div
      *ngFor="let color of palette"
      class="swatch"
      [style.backgroundColor]="color"
      (click)="selectedColor = color"
    ></div>
  </div>
</div>
<div *ngIf="winMessage !== 'WIN!!' && winMessage !== 'Oh no! You fell!'" class="instructions">
  <br>Use the palette to select a color, then click on the canvas to color.
</div>
<div class="instructions">
<div *ngIf="winMessage == 'WIN!!'" class="instructions">
  Press enter to continue.
</div>

