.game-container {
  position: relative;
  width: 400px;
//   height: 500px;
  border: 2px solid #ccc;
  margin: 0px auto 0px auto;
  background: #C0C0C0;
  .rocks {
    img {
        height: 40px;
    }
  display: flex;
  flex-direction: column;
  align-items: center; /* centers each rock horizontally */;
  margin-bottom: 20px;
}

.rock-row {
  height: 10px;
  text-align: center;
  margin: 10px 0;
  &.left-left {
    margin-left: 10px;
    align-self: flex-start;
  }
  &.left-middle {
    margin-left: 100px;
    align-self: flex-start;
  }
   &.right-middle {
    margin-right: 100px;
    align-self: flex-end;
  }
  &.right-right {
    margin-right: 10px;
    align-self: flex-end;
  }
}

    
}
.character {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
    }
.instructions {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.win {
  text-align: center;
  margin-bottom: 8px;
  color: red;
}
.arrow-buttons {
  text-align: center;
  button {
    width: 100px;
    height: 50px;
  }
  
}
.plate {
    height: 40px;
    align-content: baseline;
  }

  .home-menu {
  //display: flex;
  flex-direction: column;
  width: 500px;
  gap: 0.75rem;    /* space between rows */
  background-color: orange;
  :hover {
    background-color: yellow;
  }
}

  .back-button {
  //display: flex;
  flex-direction: column;
  width: 500px;
  gap: 0.75rem;    /* space between rows */
  background-color: red;
  :hover {
    background-color: yellow;
  }
}



